gfx-enable=1
gfx-enable-native-gfx-jobs=1
gfx-enable-gfx-jobs=1
gfx-preset-confuguration=fastest
gfx-disable-mt-rendering=0
platform-android-unitymain-priority=1
platform-android-unitymain-affinity=1
platform-android-jobworker-priority=1
platform-android-jobworker-affinity=1
platform-android-gfxdeviceworker-priority=8
platform-android-gfxdeviceworker-affinity=8
gpu-enable-highest-volt=1
gpu-perf-tuning-standalone=1
gpu-overload-terminate=0
gpu-overwork-time-init=8
gpu-overdraw-2d-3d=1
gpu-enable-autopack-mesh=1
gpu-powermode=1
hdr-mode=0
hdr-display-enabled=0
adaptive-frame-rate-target=120
multipleRenderOnLoad=1
autoDisGrassOnLoad=1
autoDisPostFXOnLoad=1
autoDisVFXOnLoad=1
active-core-max-freq=8
no-hz-full=8
multi-threaded-processing=1
multi-threaded-rendering=1
multi-threaded-cores=1
wait-for-native-debugger=0
vr-enabled=0
vt-enabled=1
vsync-enabled=0
gc-max-time-slice=1
fps-cap-enabled=0
fullscreen-mode=exclusive
scripting-runtime-version=latest
games-optimization-enabled=1
androidStartInFullscreen=1
androidRenderOutsideSafeArea=1
androidRuntimeStabilizeOnLoad=1
memory-task-manager=1
memory-package-unlocker=1
memory-package-repacker=1
androidRenderOutsideSafeArea=1
androidPerformanceOutsideSafeArea=1
androidShaderDetailOutsideSafeArea=0
androidPostProcessOutsideSafeArea=0
scripting-runtime-version=latest
fps-set=uncapped
nvgx-enable=true